.postcontent ul > li::before, .post ul > li::before, .textblock ul > li::before {
    bottom: 2px;
    content: none;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-right: 6px;
    position: relative;
    vertical-align: middle;
	cursor:pointer;
}
.ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: pointer !important;
}

.bigger-160 {
    font-size:16px;    
}

.Search-Panel {
    border-top : 1px dotted #c0bbc4 !important;
    border-bottom : 1px dotted #c0bbc4 !important;
    border-left : 1px dotted #c0bbc4 !important;
    border-right : 1px dotted #c0bbc4 !important;
}

.Search-Panel td {
    border: 0px !important;
}